.navibar_sh {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  gap: 30px;
  margin-bottom: 40px;
}

.navibar_sh a {
  text-decoration: none;
  color: #929292;
  font-size: 25px;
  font-weight: normal;
  display: inline-block;
}

.navibar_sh .active {
  color: #555;
  font-weight: bold;
  font-size: 30px;
}